.img-local {
}

.small-box .img-local {
  position: absolute;
  top: auto;
  bottom: 5px;
  right: 5px;
  z-index: 0;
  font-size: 70px;
  color: rgba(0, 0, 0, 0.15);
}

#plot-container {
  position: relative;
}
#loading-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 0;
  margin-top: -33px;  /* half of the spinner's height */
  margin-left: -33px; /* half of the spinner's width */
}
#plot.recalculating {
  z-index: -2;
}

.btn-go { 
  color: #ffffff; 
  background-color: #3C8DBC; 
  border-color: #3C8DBC; 
} 
 
.btn-go:hover, 
.btn-go:focus, 
.btn-go:active, 
.btn-go.active, 
.open .dropdown-toggle.btn-go { 
  color: #ffffff; 
  background-color: #357CA5; 
  border-color: #3C8DBC; 
} 
 
.btn-go:active, 
.btn-go.active, 
.open .dropdown-toggle.btn-go { 
  background-image: none; 
} 
 
.btn-go.disabled, 
.btn-go[disabled], 
fieldset[disabled] .btn-go, 
.btn-go.disabled:hover, 
.btn-go[disabled]:hover, 
fieldset[disabled] .btn-go:hover, 
.btn-go.disabled:focus, 
.btn-go[disabled]:focus, 
fieldset[disabled] .btn-go:focus, 
.btn-go.disabled:active, 
.btn-go[disabled]:active, 
fieldset[disabled] .btn-go:active, 
.btn-go.disabled.active, 
.btn-go[disabled].active, 
fieldset[disabled] .btn-go.active { 
  background-color: #3C8DBC; 
  border-color: #3C8DBC; 
} 
 
.btn-go .badge { 
  color: #3C8DBC; 
  background-color: #ffffff; 
}
